.header {

    background-image: url('https://media-public.fcbarcelona.com/20157/74594198/910692/1.2/910692.jpg');
    background-position: bottom center;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 240px 0px;
    
}